@import '~@angular/material/theming';
@include mat-core();

$theme-primary: mat-palette($mat-indigo, 700, 300, 900);
$theme-accent: mat-palette($mat-light-blue);
$theme-warn: mat-palette($mat-deep-orange, A200);


$theme-primary-color: mat-color($theme-primary);
$theme-accent-color: mat-color($theme-accent);
$theme-warn-color: mat-color($theme-warn);

$color-white: rgb(255, 255, 255);
$color-black: rgb(0, 0, 0);
$color-withesmoke: rgb(245, 245, 245);
$color-silver: rgb(200, 200, 200);
