:host {
    display: flex;
    justify-content: center;    
    margin: 15px;   
    
    .buttons {
        display: flex;
        justify-content: center;    
        
        button {
            margin: 0 8px;
        }
    }
}