<section class="login" *ngIf='!isLogged'>
    <h4>Please fill login details</h4>
    <form [formGroup]="loginForm">
        <mat-form-field appearance="fill">
            <mat-label>Pin Code</mat-label>
            <input matInput type="password" formControlName="pinCode">
        </mat-form-field>
      </form>
      <div class="buttons">
        <button mat-raised-button color="primary" (click)="loginClicked()">Login</button>
        <button mat-raised-button (click)="cancelLoginClicked()">Cancel</button>
    </div>
</section>

<section class="logout" *ngIf='isLogged'>
    <h4>You are logged in</h4>
    <button mat-raised-button color="primary" (click)="logoutClicked()">Logout</button>
</section>
