<form [formGroup]="scheduleForm" *ngIf="!isProcessing && isDataLoaded">
    <ng-container *ngFor="let interval of scheduleData.intervals">
        <div [ngClass]="{'large-resolution': isLargeResolution, 'small-resolution': !isLargeResolution}">
            <mat-label class="label">{{getFriendlyDayOfWeek(interval.day)}}</mat-label>
            <mat-form-field appearance="fill">
                <mat-label>Start Time</mat-label>
                <input matInput type="time" formControlName="{{interval.startKey}}">
            </mat-form-field>            
            <mat-form-field appearance="fill">
                <mat-label>End Time</mat-label>
                <input matInput type="time" formControlName="{{interval.endKey}}">
            </mat-form-field>            
            <mat-form-field appearance="fill">
                <mat-label>Duration</mat-label>
                <input matInput type="number" formControlName="{{interval.allowedMinutesKey}}">
            </mat-form-field>            
        </div>
    </ng-container>
    <div class="buttons">
        <button mat-raised-button color="primary" (click)="saveScheduleClick()">Save</button>
        <button mat-raised-button (click)="cancelEditClicked()">Cancel</button>
    </div>
</form>

<trk-loader *ngIf="isProcessing || !isDataLoaded"></trk-loader>
