@import '../../styles/variables';


:host {
    table {
        min-width: 400px;
    }

    th {
        font-weight: bold;
    }
    
    tr.element-row {
        &:hover {
            background:$color-withesmoke;
            cursor: pointer;
        }
    }

    tr.selected-row {
        background: $color-silver;
    }

    .table-wrapper {
        padding-bottom: 20px;
    }

    button {
        margin-right: 10px;
    }
}