<h3>Users</h3>
<div class="table-wrapper">
    <table mat-table [dataSource]="dataSource" matSort class="mat-elevation-z8">
  
      <!-- User Name Column -->
      <ng-container matColumnDef="userName">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> User Name </th>
        <td mat-cell *matCellDef="let element"> {{element.userName}} </td>
      </ng-container>
    
      <!-- Workstation Column -->
      <ng-container matColumnDef="workstation">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Workstation </th>
        <td mat-cell *matCellDef="let element"> {{element.workstation}} </td>
      </ng-container>

      <!-- Active Column -->
      <ng-container matColumnDef="active">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Active </th>
        <td mat-cell *matCellDef="let element"> {{element.active}} </td>
      </ng-container>      
        
      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"
        class="element-row"
        [ngClass]="{'selected-row': row === selectedUser }"
        (click)="selectUserClicked(row)">
      </tr>
    </table>
</div>
<button mat-raised-button color="warn" (click)="addUserClicked()">New User</button>
<button mat-raised-button color="primary" (click)="editUserClicked()">Edit User</button>