<form [formGroup]="userForm" *ngIf="!isProcessing">
    <mat-form-field appearance="fill">
        <mat-label>User Name</mat-label>
        <input matInput formControlName="userName">
    </mat-form-field>
    <mat-form-field appearance="fill">
        <mat-label>Workstation</mat-label>
        <input matInput formControlName="workstation">
    </mat-form-field>
    <mat-checkbox formControlName="active">Active user</mat-checkbox>
    <div class="buttons">
        <button mat-raised-button color="primary" (click)="saveUserClicked()">Save</button>
        <button mat-raised-button (click)="cancelEditClicked()">Cancel</button>
    </div>
</form>

<trk-loader *ngIf="isProcessing"></trk-loader>