:host {
    display: flex;
    flex-direction: column;
    align-items: center;

    margin-top: 25px;

    form {
        display: flex;
        flex-direction: column;
    }

    .buttons {
        margin: 15px;
        display: flex;
        justify-content: center;

        .mat-raised-button {
            margin-left: 5px;
            margin-right: 5px;
        }
    }
  }