<form [formGroup]="scheduleOverrideForm" *ngIf="!isProcessing && isDataLoaded">
    <mat-form-field appearance="fill">
        <mat-label>Override Date</mat-label>
        <input matInput [matDatepicker]="overrideDateDp" autocomplete="off" name="date" formControlName="date">
        <mat-datepicker-toggle matSuffix [for]="overrideDateDp"></mat-datepicker-toggle>
        <mat-datepicker #overrideDateDp [startAt]="scheduleOverrideData.date"></mat-datepicker>
    </mat-form-field>
    <mat-form-field appearance="fill">
        <mat-label>Start Time</mat-label>
        <input matInput type="time" formControlName="startTime">
    </mat-form-field>            
    <mat-form-field appearance="fill">
        <mat-label>End Time</mat-label>
        <input matInput type="time" formControlName="endTime">
    </mat-form-field>            
    <mat-form-field appearance="fill">
        <mat-label>Duration</mat-label>
        <input matInput type="number" formControlName="allowedMinutes">
    </mat-form-field>     
    <div class="buttons">
        <button mat-raised-button color="primary" (click)="saveScheduleOverrideClicked()">Save</button>
        <button mat-raised-button (click)="cancelEditClicked()">Cancel</button>
    </div>
</form>

<trk-loader *ngIf="isProcessing || !isDataLoaded"></trk-loader>