<section class="main-content">
    <trk-loader *ngIf="(isUserDataLoading$ | async) === serverOperationInProgressStatus"></trk-loader>
    <trk-activity-filter *ngIf="(isUserDataLoading$ | async) !== serverOperationInProgressStatus" [userWorkstations]="userWorkstations$ | async" [startDate]="startDate" [endDate]="endDate"></trk-activity-filter>
</section>
<section>
    <trk-loader *ngIf="(isActivityDataLoading$ | async) === serverOperationInProgressStatus"></trk-loader>
    <trk-activity-list *ngIf="(isActivityDataLoading$ | async) !== serverOperationInProgressStatus" [activityDetailsList]="activityDetailsList$ | async"></trk-activity-list>
</section>
