:host {
    trk-activity-filter {
        padding: 20px 10px;
    }

    trk-activity-list {
        padding: 20px 10px;
    }

    .main-content {
        display: flex;
        justify-content: center;
    }
}
