:host {
    .large-resolution {
        display: flex;
        justify-content: center;
    }

    .small-resolution {
        display: flex;
        flex-direction: column;
    }

    .search-commands {
        display: flex;
        justify-content: center;
    }

    mat-form-field {
        margin: 12px;
    }

    button {
        margin: 10px;
    }
}