<section >
  <form [formGroup]="filterForm" [ngClass]="{'large-resolution': isLargeResolution, 'small-resolution': !isLargeResolution}">
    <mat-form-field appearance="fill">
        <mat-label>User | Workstation</mat-label>
        <mat-select [value]="selectedValue.id" formControlName="user">
          <mat-option *ngFor="let uw of userWorkstations" [value]="uw.id">
            {{uw.userName}} | {{uw.workstation}}
          </mat-option>
        </mat-select>
    </mat-form-field>
    <mat-form-field appearance="fill">
        <mat-label>Start</mat-label>
        <input matInput [matDatepicker]="startdp" autocomplete="off" name="startDate" formControlName="startDate">
        <mat-datepicker-toggle matSuffix [for]="startdp"></mat-datepicker-toggle>
        <mat-datepicker #startdp [startAt]="startDate"></mat-datepicker>
    </mat-form-field>
    <mat-form-field appearance="fill">
        <mat-label>End</mat-label>
        <input matInput [matDatepicker]="enddp" autocomplete="off" name="endDate" formControlName="endDate">
        <mat-datepicker-toggle matSuffix [for]="enddp"></mat-datepicker-toggle>
        <mat-datepicker #enddp [startAt]="endDate"></mat-datepicker>
    </mat-form-field>
  </form>
</section>
<section class="search-commands">
  <button mat-raised-button color="primary" (click)="performSearch()">Search</button>
  <button mat-raised-button (click)="clearSearch()">Clear</button>
</section>