<h3>Today Schedule</h3>
<section class="mat-elevation-z8" *ngIf="scheduleOverride">
    <p><span class="title">Date:</span> {{scheduleOverride?.date | date:"yyyy-MM-dd" }}</p>
    <p><span class="title">Start:</span> {{scheduleOverride?.interval.startTime}}</p>
    <p><span class="title">End:</span> {{scheduleOverride?.interval.endTime}}</p>
    <p><span class="title">Allowed:</span> {{scheduleOverride?.interval.allowedMinutes}} minutes</p>
</section>
<section class="mat-elevation-z8" *ngIf="!scheduleOverride">
    <h4>No override defined for today!</h4>
</section>
<button mat-raised-button color="warn" (click)="editScheduleOverrideClicked()">Override</button>
