<h3>Weekly Schedule</h3>
<mat-list role="list" class="mat-elevation-z8">
    <mat-list-item role="listitem" *ngFor="let interval of schedule?.intervals">
        <span class="title">{{getFriendlyDayOfWeek(interval.day)}}:</span>&nbsp;{{interval.startTime}} - {{interval.endTime}} ({{interval.allowedMinutes}} minutes)
    </mat-list-item>
</mat-list>
<button mat-raised-button color="primary" (click)="editScheduleClicked()">Edit Schedule</button>