<header>
    <trk-logo></trk-logo>
    <trk-nav-bar [links]="mainNavBarLinks" [activeLink]="activeLink"></trk-nav-bar>
</header>
<main>
    <section class="nav-banner">
        <trk-nav-banner [label]="navBarBannerLabel"></trk-nav-banner>
    </section>
    <section class="main">
        <router-outlet></router-outlet>
    </section>        
</main>    