@import '../../styles/variables';


:host {
  .table-wrapper {
    padding: 0 40px;
  }
  
  table {
    width: 100%;
  }
      
  th.mat-sort-header-sorted {
    color: $color-black;
  }

  td.mat-footer-cell {
    font-weight: bold;
  }

  th.mat-header-cell {
    font-weight: bold;
  }
}