<div class="table-wrapper">
  <table mat-table [dataSource]="dataSource" matSort class="mat-elevation-z8">

    <!-- User Name Column -->
    <ng-container matColumnDef="userName">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> User Name </th>
      <td mat-cell *matCellDef="let element"> {{element.userName}} </td>
      <td mat-footer-cell *matFooterCellDef>Total</td>
    </ng-container>
  
    <!-- Workstation Column -->
    <ng-container matColumnDef="workstation">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Workstation </th>
      <td mat-cell *matCellDef="let element"> {{element.workstation}} </td>
      <td mat-footer-cell *matFooterCellDef></td>
    </ng-container>
  
    <!-- Start Column -->
    <ng-container matColumnDef="startTimestamp">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Start </th>
      <td mat-cell *matCellDef="let element"> {{element.startTimestamp | date:"yyyy-MM-dd hh:mm a"}} </td>
      <td mat-footer-cell *matFooterCellDef></td>
    </ng-container>
  
    <!-- End Column -->
    <ng-container matColumnDef="endTimestamp">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> End </th>
      <td mat-cell *matCellDef="let element"> {{element.endTimestamp | date:"yyyy-MM-dd hh:mm a"}} </td>
      <td mat-footer-cell *matFooterCellDef></td>
    </ng-container>

    <!-- Duration Column -->
    <ng-container matColumnDef="duration">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Duration </th>
        <td mat-cell *matCellDef="let element"> {{element.duration | timeFormat}} </td>        
        <td mat-footer-cell *matFooterCellDef> {{getTotalDuration() | timeFormat}} </td>
    </ng-container>
  
    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    <tr mat-footer-row *matFooterRowDef="displayedColumns"></tr>
  </table>
</div>