<trk-loader *ngIf="(isUserDataLoading$ | async) === serverOperationInProgressStatus"></trk-loader>
<section [ngClass]="{'large-resolution': isLargeResolution, 'small-resolution': !isLargeResolution}">
    <trk-user-list 
        *ngIf="(isUserDataLoading$ | async) !== serverOperationInProgressStatus"
        [userWorkstations]="userWorkstations$ | async"
        (selectUser)="selectUser($event)"
        (addUser)="addUser()"
        (editUser)="editUser($event)">
    </trk-user-list>
    <trk-week-schedule 
        *ngIf="(isUserDataLoading$ | async) !== serverOperationInProgressStatus"
        [schedule]="schedule$ | async"
        (editSchedule)="editSchedule($event)">
    </trk-week-schedule>
    <trk-today-schedule
        *ngIf="(isUserDataLoading$ | async) !== serverOperationInProgressStatus"
        [userId]="userId"
        [scheduleOverride]="scheduleOverride$ | async"
        (editScheduleOverride)="editScheduleOverride($event)">
    </trk-today-schedule>
</section>