:host {
    padding: 20px;

    .large-resolution {
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;    
    }

    .small-resolution {
        display: flex;
        flex-direction: column;
        padding: 0 15px 0 15px;
    }
}