/* You can add global styles to this file, and also import other style files */

@import './app/styles/_mixins.scss';
@import './app/styles/_variables.scss';
@import './app/styles/_material.scss';

html, body { height: 100%; width: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
