<nav mat-tab-nav-bar [backgroundColor]="background" [color]="color">
    <a mat-tab-link *ngFor="let link of links"
        (click)="activeLink = link"    
        [routerLink]=link.routeLink
        [active]="activeLink === link">
        {{link.label}}
    </a>
</nav>
  